/*------------------header formatting--------------------------------------------------*/

#uhead {
    background-color: #580c0c;
    width: 100%;
}


/*------------------formatting the avatar-------*/

#avatar {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid black;
}


/*------------------heading for the title-------*/

#myh1 {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 15px;
}


/*-----------------menu formatting---------------------------------------------------------*/

.menu {
    background-color: #333;
}


/*--------heading within menu----*/

.menu h1 {
    text-align: center;
    color: #FFFFFF;
}


/*-----------------content formatting-------------------------*/


/*-----------------overall container-------------------------*/

#container {
    margin: 0 auto;
}


/*-----------------presentation with profile and photo-------------------------*/

#presentation {
    background-color: #ff7f50;
    width: 100%;
    border: 1px solid black;
}


/*----------profile div-------*/

#profile {
    width: 80%;
}


/*----------photo image size-------*/

#photo {
    width: 10%;
}


/*-----------------article------------------------*/

article {
    width: 100%;
    border: 2px solid black;
    background-color: #fff0f5;
    height: auto;
    /*float: left;*/
}


/*-----------------a rule for emphasising names in the article------------------------*/

.bold {
    font-weight: bold;
}


/*-----------------sidebar------------------------*/

#side {
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    color: white;
    margin-right: 50px;
    margin-top: 20px;
}


/*-----------------relative size of the chess icon------------------------*/

#chess {
    width: 30%;
}


/*-----------------sidebar------------------------*/

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 50, 50);
    color: white;
    text-align: center;
}


/*-----------------make footer white to avoid the standard blue color of the links------------------------*/

footer a {
    color: white;
}