/*------------------header formatting--------------------------------------------------*/

#uhead {
    background-color: #580c0c;
    width: 100%;
    display: flex;
}


/*------------------formatting the avatar-------*/

#avatar {
    float: left;
    width: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border: 5px solid black;
}


/*------------------heading for the title-------*/

#myh1 {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 15px;
}


/*------------------position of the title div-------*/

#Title {
    float: right;
}


/*-----------------menu formatting---------------------------------------------------------*/

.menu {
    overflow: hidden;
    background-color: #333;
}


/*------------------links within the menu-------*/

.menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/*-----links within the menu when hovered-----*/

.menu a:hover {
    background-color: #ddd;
    color: black;
}


/*---------------the active/first link-------*/

.menu a.active {
    background-color: #4CAF50;
    color: white;
}


/*----------text that has behaviour-------*/

.menu span {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/*----------text when hovered-----*/

.menu span:hover {
    background-color: #ddd;
    color: black;
}


/*----------text when active-------*/

.menu span.active {
    background-color: #4CAF50;
    color: white;
}


/*--------heading within menu----*/

.menu h1 {
    text-align: center;
    color: #FFFFFF;
}


/*-----------------content formatting-------------------------*/


/*-----------------overall container-------------------------*/

#container {
    /*width: 450px;*/
    margin: 0 auto;
    position: relative;
}


/*-----------------Content with presentation and article-------------------------*/

#content {
    margin-left: 160px;
    float: left;
    overflow: hidden;
}


/*-----------------presentation with profile and photo-------------------------*/

#presentation {
    background-color: #ff7f50;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}


/*----------profile div-------*/

#profile {
    float: left;
    width: 80%;
    display: block;
    overflow: auto;
    /*height: auto;*/
}


/*----------photo image size-------*/

#photo {
    display: block;
    width: 10%;
}


/*-----------------article------------------------*/

article {
    width: 100%;
    border: 2px solid black;
    background-color: #fff0f5;
    height: auto;
    float: left;
}


/*-----------------a rule for emphasising names in the article------------------------*/

.bold {
    font-weight: bold;
}


/*-----------------sidebar------------------------*/

#side {
    /*width: 200px;
    background-color: #e6e6fa;
    height: 100%;
    float: right;
    */
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: white;
    margin-right: 50px;
    margin-top: 20px;
}


/*-----------------relative size of the chess icon------------------------*/

#chess {
    width: 30%;
}


/*-----------------sidebar------------------------*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 50, 50);
    color: white;
    text-align: center;
}


/*-----------------make footer white to avoid the standard blue color of the links------------------------*/

footer a {
    color: white;
}